extends layout

block content
  include header
  h1= title
  p welcome to main page.
  form(action="/login" method="GET")
    input(type="submit" value="login")
  form(action="/signup" method="GET")
    input(type="submit" value="signup")
